fastapi
uvicorn
openai
pydantic
python-dotenv
python-json-logger>=3.3.0
attrs
jsonschema
faiss-cpu
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-openai
pandas
redis
numpy
psycopg2-binary
psutil
pyjwt
cryptography